/*Подключение сетки*/
@import "grid.css";
@import "normalise.css";

/*Рисунок в топе*/
.bar {
	height: 100px;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #4682B4;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px; 
}
.bar p {
	white-space: nowrap;
	font-weight: bold;
	font-style: italic;
	font-family: fantasy;
	font-size: 35px;
	color: white;
	padding: 30px;
	margin: 0;
	position: absolute;
	top: 10px;
	left: 120px;
}
.logo {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 10px;
	left: 40px;
}
.logo img {
	height: 90px;
}
/*Меню*/
.menu {
	background: #4682B4;
}
.menu ul {
	margin: 0;
	padding: 0;
}
.menu li {
	display: inline-block;
	list-style-type: none; /*убрать маркеры списка*/
	padding-left: 20px;
	margin: 0;
}
.menu a {
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	text-align: center;
	color: white;
	margin: 0;
	font-size: 17px;
	font-weight: bold;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.menu a:hover {
	background: SkyBlue;
}

/*Цвет фона страницы*/
body {
	background-color: PowderBlue;
}
h2 {
	text-align: center;
	font-weight: bold;
}
/*Главная страница*/
.index img {
	display:block; 
	margin:0 auto;
	border-radius: 20px;
	height: 200px;
}

/*Новости*/
h3 {
	text-align: center;
}
.news a{
	text-decoration: none;
}
.news img {
	height: 170px;
	border-radius: 15px;
	display:block; 
	margin:0 auto;
}

/*Фото*/
.foto {
     padding: 0;
}
.foto img{
	display:block;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
    border: solid 0px black;
    border-radius: 10px;

 }

/*Контакты*/
table {
	margin: 0 auto;
	border: solid 1px white;
    border-radius: 10px;
    background-color: #4682B4;
    color: white;
}
.position  {
	text-align: left;
	font-weight: bold;
}
.name  {
	text-align: left;
	font-weight: bold;
}

/*Обратная связь*/
.contacts {
	margin: 0 auto;
	padding:0;
	border: solid 0px black;
    border-radius: 10px;
    background: #4682B4;
 }
.contacts th {
	width: 190px;
	border: solid 1px white;
    border-radius: 5px;
    background: #4682B4;
    color: white;
}
 .adress a {
 	text-decoration: none;
 	color: white;
 	font-weight: bold;
 }
/*Футер*/
.footer {
  	position: absolute;
  	width: 100%;
  	height: 50px;
	padding-top: 10px;
	margin-top: 20px;
	background-color: #4682B4;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	white-space: nowrap;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-family: fantasy;
	font-size: 30px;
	color: white;
}
